.spindrift,
.spindrift * {
  border: 1px dashed red;
}

.spindrift-stop * {
  border-width: 0 !important;
}

.spindrift-stop .spindrift,
.spindrift-stop .spindrift * {
  border: 1px dashed red !important;
}
